<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="ConnStrDispetcher2" connectionString="Data Source = ASCON; Initial Catalog = Dispetcher2; Persist Security Info = False; User ID = test;Password = test123456789" />
		<add name="_ConnectionStringLoodsman" connectionString="Data Source = ASCON ; Initial Catalog = НИИПМ; Persist Security Info = false; User ID = test; Password = test123456789" />
	</connectionStrings>
</configuration>